.flex-row {
  display: flex;
  flex-direction: row;
}

.school-display {
  padding: 10px;
  margin: 0 auto;
  font-size: 18px;
  height: 775px;
  overflow-y: scroll;
}

.search-results {
  position: absolute;
  z-index: 99;
  background: grey;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 1px;
}
h2 {
  text-align: center;
}

input {
  width: 600px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  .school-display {
      font-size: 9px;
      height: 500px;
      overflow-y: scroll;
      padding: 2px;
  }
  h2 {
    font-size: 11px;
  }
  input {
    width: 290px;
  }
}
