body, h1, h2, h3, li {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.poll-box {
  display: flex
}

#poll0 h3 {
  display: none;
}

.candidate-name, .candidate-value {
  line-height: 22px;
}
.candidate-name {

  margin-top: 4.5px;
}

.polls {
  background-color: rgba(0,0,117,0.55);
  border-radius: 5%;
  width: 33%;
}

.polls h4{
  font-size: 12px;
}

.weather-div {
  position: fixed;
  top: 44px;
  right: 0px;
  background-color: rgba(117,0,22,0.66);
  padding: 5px;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.temp, .description, .city{
  color: whitesmoke;
  text-shadow: 1px 1px black;
}

.title-class {
  background-color: rgba(0,0,0,0.45)
}

#top-cover {
  background: url("./assets/glacier.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background: url("./Optimized-bike.jpg") no-repeat 50% 65% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.bottom-player {
  position: fixed;
  bottom: 5px;
  left: auto;
  right: auto;
}

div.circle-avatar{
/* make it responsive */
max-width: 100%;
width:100%;
height:auto;
display:block;
/* div height to be the same as width*/
padding-top:100%;

/* make it a cirkle */
border-radius:50%;

/* Centering on image`s center*/
background-position-y: center;
background-position-x: center;
background-repeat: no-repeat;

/* it makes the clue thing, takes smaller dimention to fill div */
background-size: cover;

/* it is optional, for making this div centered in parent*/
margin: 0 auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

#top-cover{
  padding: 15px;
}

#block1 {
  display:block;


  border:

}
#block2 {
  display:block;

}
#about h1, #projects-row h1, #skills h1{
  font-size: 36px;
  text-align: center;
  /*font-weight: bold;*/
  color: white;
}

@media only screen and (min-width: 769px){
  .canvas-pc {
    width: 66%;
    height: 417px;
  }

  .canvas-mobile {
    display: none;
  }



  #about-row {
    display: flex;
    align-items: center;
  }
  #about-row .col-md-4 {
    width: 33.3%;
  }
  .cool-button {
    background-color: green;
    box-shadow: 1px 1px 1px 1px whitesmoke !important;
  }
}

#block2 h1 {
  text-align: center;
  font-size: 46px;
  font-family: 'Merriweather', serif;
  /*font-weight: 900;*/
  color: white;
}
#block2 h2{
  font-size: 24px;
  /*font-weight: bold;*/
  color: white;
  text-align: center;
  padding: 2px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#projects-row h2{
  font-size: 24px;
  /*font-weight: bold;*/
  color: white;
  text-align: left;
  padding: 2px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.git-link{
  margin-top: 0;
  font-weight: bold;
  color: blue;
  font-size: 20px;
  text-shadow: grey 1px 1px;
}
#skills h3{
  font-size: 22px;
  /*font-weight: bold;*/
  color: white;
  text-align: center;
  padding: 6px;
  margin-bottom: 0px;
  margin-top: 3px;
}


.skill-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-list li{
  margin: 1px 0;
  font-size: 22px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  width: 12.5%
}

.skill-icon {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  padding: 1px;
}



/*.skill-icon:hover {
  background-color: rgba(255, 255, 255, 0.5);
  height: 75px;
  width: 75px;
}*/

#block2 img{
  background-color: rgba(82,109,242, 0.75);
  align-self: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 5px;
}

#block2 img:hover{
  background-color: rgba(182,109,242, 0.75);
}
#images{
    text-align:center;
}
#about, #projects-row p{
  color: white;
  font-size: 16px;
  /*font-weight:bold;*/
  text-align:left;
}
#projects-row, #about-row {
  background: rgba(0, 0, 0, .85);
  padding-bottom: 5px;
}
#about-row img{
  padding: 10px;
  border-radius: 4%;
  height: inherit;
}
 #skills, #contacts-row, #footer-row{
	background: rgba(51,51,51,.75);
}
#projects-row img{
	text-align:center;
	padding: 5px;
  border-radius: 4%;
}

img.img-responsive{
  margin: 0 auto;
}
#projects-row {
  color: white;
  font-size: 20px;
}



#contacts-row img{
  background-color: rgba(250,250,250, 0.01);
  align-self: center;
  height: 200px;
  width: 200px;
  /*border-radius: 50%;*/
  padding: 0px;
}
#contacts-row h1{
  font-size: 36px;
  text-align: center;
  /*font-weight: bold;*/
  color: white;
}
#contacts-row h3{
  font-size: 24px;
  text-align: center;
  /*font-weight: bold;*/
  color: white;
}
#contacts-row img:hover{
  filter: invert(100%); /* IE6-9 */
  -webkit-filter: invert(100%); /* Chrome 19+ & Safari 6+ */
}

#footer-row p{
  font-size: 10px;
  text-align: left;
  /*font-weight: bold;*/
  color: white;
}
.logo {
  display: inline-block;
  margin: 5px auto;

}


p {
  display:block;
  padding: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.top-menu ul{
	position:fixed;
	top: 2px;
	left: 2px;
	list-style-type: none;
	margin-left:auto;
	margin-right:auto;
	padding: 0;
	z-index: 99;

}

.top-menu li{
	display:inline;
	/*padding-left:50px;
	padding-right:50px;
	background:rgba(82,109,242, .75);
	font-size:16px;

	border-radius:7%;*/
}
/*.top-menu a:link {
  text-decoration: none;
  color: white;
}
.top-menu a:visited {
  text-decoration: none;
  color: white;
}
.top-menu li:hover{
  background-color: rgba(182,109,242, 0.75)
}

.top-menu li a {
    display: inline;
    color: #fff;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}*/

.italic {
  text-decoration: none !important;
  font-style: italic;
}

.underline {
  text-decoration: underline;
}



.darkMenu ul{
 position:fixed;
 list-style-type: none;
 padding: 0;
 z-index: 99;
 background: rgba(51,51,51,0.5);
 /*padding-left: 25%;
 padding-right: 25%; */
 padding-top: 0px;
 padding-bottom: 3px;
 display: inline-block;
   /*margin-left: auto;
  margin-right: auto;*/
  margin-top: 0;
  margin-left: 0;
 text-align:center;
 min-width: 100%;
 top: 0px;
}



.darkMenu li{
	display:inline;
	/*padding-left:50px;
	padding-right:50px;
	background:rgba(82,109,242, .75);
	font-size:24px;

	border-radius:7%;*/
}

.darkMenu .btn{
	font-size:20px;
  box-shadow: 0 3px 0 0 #007299;
}

.darkMenu .btn-primary:active, .darkMenu .btn-primary.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}



@media only screen and (max-width: 768px) {
    .canvas-mobile {
      width: 250px;
      height: 500px;
    }
    .canvas-pc {
      display: none;
    }

    .weather-div{
      display: none;
    }

    .cool-button{
      display: none !important;
    }
    .skill-list{
        /*padding: 0 2.5%;*/
        padding: 0;
        justify-content: space-around;
    }

    #row2 h1{
      margin-top: 40px;
    }

    .skill-list li {
        margin: 5px 0;
        width: 25%;
        font-size: 100%;
        font-weight: bold;
    }
    body {
      background-color: #001163;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
      background-repeat: repeat;
    }
    #images {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
    }

    #block2 img{
      width: 100%;
      height: 100%;
    }

    #block2 #images {
      justify-content: center;
    }
    #block2 #images a{
      margin: 2px 2px;
      width: 18%;
    }

    #contacts-row #images img{
      width: 50px;
      height: 50px;
    }
    .underline:after{
      content:"\A";
      white-space: pre;
    }

    #projects-row h2{
      text-align: center;
    }

    .mobile-photo {
      background-image: url('./paul.jpg');
      background-repeat: no-repeat;
      background-position: top;
      height: 200px;
      width: 200px;
      margin: 0 auto;
      border-radius: 100%;
      padding: 27px;
      background-color: white;
    }

    .darkMenu ul {
      top: 0px;
    }

    #footer-row p {
      font-size: 100%;
    }
}

/*.darkMenu a:link {
  text-decoration: none;
  color: white;
}
.darkMenu a:visited {
  text-decoration: none;
  color: white;
}
.darkMenu li:hover, li:active{
  background-color: rgba(182,109,242, 0.75)
}

.darkMenu li a {
  display: inline;
  color: #fff;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}*/
