#byBtn {
  padding-left: 12%;
  padding-right: 12%;
  text-align: center;
  background: #f45145;
  color: white;
}

.hentry {
    background-color: white;
    border-top: 8px solid #f45145;
    margin-left: 12%;
    margin-right:12%;
    padding: 27px 27px 22px;
    position: relative;
}
/*media all*/
.article-square {
    /*border: black;
    border-style: solid;
    border-width: 1px;*/
}

/*media all*/
.entry-title {
    line-height: 1.14em;
    color: #f45145;
    margin: 27px 0;
    text-align: center;
    font-family: "PT Serif", Georgia, Times, serif;
    font-size: 47px;
}

/*media all*/



/*media all*/
.site-header .site-logo {
    height: 180px;
    left: -20px;
    position: relative;
}
/*media all*/
.site-logo img {
    margin: 0 auto;
    max-height: 400px;

}
body {
	margin: 0;
}
html {
	-ms-overflow-style: scrollbar;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, th {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	height: auto;
	max-width: 100%;
}
img {
	height: auto;
	max-width: 100%;
}
a img {
	border: 0;
}
.site-header img {
	display: block;
	margin: 0 auto;
	max-height: 400px;
}
a {
	color: #f45145;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a:focus {
	outline: thin dotted;
}
a:visited {
	color: #f45145;
}
a:hover, a:focus, a:active {
	color: #f77e75;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section {
	display: block;
}
.site-header {
	border-bottom: 5px solid #1e252d;
	margin: 0;
	position: relative;
	width: 100%;
	z-index: 100;
}
.site-header::before, .site-header::after {
	content: "";
	display: table;
}
.site-header::after {
	clear: both;
}
body {
	background: #fff;
}
body, button, input, select, textarea {
	color: #404040;
	font-family: Georgia, "Bitstream Charter", serif;
	font-size: 16px;
	font-weight: 400;
}
body {
	background: #f0f1f3;
	color: #656e7f;
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 27px;
}
html {
	font-size: 16px;
	line-height: 1.5em;
}
html {
	font-size: 18px;
	line-height: 1.5em;
}
